@use '_vars';
.shoppingCarItem{
    display: grid;
    grid-template-columns:auto 1fr auto auto;
    gap:16px;
    margin-bottom: 20px;;
    align-items: center;
}
.shoppingCarItem figure{
    margin:0;
}
.shoppingCarItem figure img{
    width:70px;
    height:70px;
    border-radius: 20px;
    object-fit: cover;
}
.shoppingCarItem p:nth-child(2){
    color: var(--grey);
}
.shoppingCarItem p:nth-child(3){
    font-size: var(--sf);
    font-weight:bold;
}